.Board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 640px;
    height: 640px;
    margin: auto;
}

input[type="text"] {
    margin-top: 8px;
    font-size: 15px;
    border: none;
    border: solid 1px rgb(89, 85, 85);
    border-radius: 2px;
    line-height: 20px;
    width: 480px;
    text-align: center;
    color: rgb(126, 121, 121);
    background-color: #3c3b39;
}