.Cell {
    position: relative;
}

.Cell.white {
    background: #EFEFEF;
}

.Cell.black {
    background: #C2D7E2;
}

.Cell>img {
    width: 100%;
}

.Cell>img {
    position: absolute;
    left: 0;
}