.Cell {
    position: relative;
}

.Cell.white {
    background: #EFEFEF;
}

.Cell.black {
    /* #3fae77 */
    background: #C2D7E2;
}

.Cell>img {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    cursor: grab;
}